body {
  margin: 0;
  background-image: url("images/newsbackground.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.head-line {
    display: flex;
    justify-content: center;
}
.head-line-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width:100%;
    position: sticky; /* 위 탭부분은 스크롤 내려도 고정 */
    top: 0; /* 이거까지 sticky */
    left: 0;
    background: #fff;
}
.head-line svg {
    width: 450px;
}

.menus {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* 잡기술!!! 화면 양 옆으로 튀어나올때 잡아주는 플렉스박스 기술 */
    border-top: 1px solid #ebebeb;
    border-bottom: 4px double black;
    /* justify-content: space-between; */
}
.menus button {
    border: none;
    background: none;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.menus button:hover { /* 버튼에 마우스가 올라갔을때 */
    background-color: beige;
}

.news-img-size {
    max-width: 100%; /* 부모 넓이의 100%, 즉 4:8에서의 4부분만큼은 꽉 채운다는 뜻이다 */
    max-height: 250px;
    margin-right: 1em;
    text-align: center;
    object-fit: cover;
}
.news {
    border-bottom: 2px solid black;
    width: 100%;
    padding: 1.2em 1em;
    margin-left: 0.5px;
}
.news-board {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}




/* 햄버거 메뉴 관련 css들 */
.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(240, 218, 188);
    overflow-x: hidden;
    transition: 0.7s;
    padding-top: 60px;
  }
  .side-menu-list button {
    margin: 5px;
    border: none;
    background: none;
    width: 120px;
  }
  .side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
    background: none;
  }
  .side-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .side-menu-list button:hover {
    background-color: beige;
    border-radius: 3px;
  }


  /* 사이드바 관련 css들 */
  .icon-button {
    padding: 8px 9px 9px;
    margin-top: 5px;
  }
  .icon-button:hover {
    background-color: beige;
  }
  .hide {
    display: none;
  }

  @media screen and (max-width: 63rem) { /* 제일중요!! - 반응형 시 일정크기로 줄어들면 탭들이 햄버거로 변하도록 */
    .hide {
      display: inline;
    }
    .menus {
      display: none;
    }
  }
 